.menu-container {
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
  }
  
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.logo {
  width: 10rem;
  pointer-events: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.line {
  border: 0.01px solid rgb(198, 198, 198, 0.4);
  width: 85%;
}


.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}

.log-button {
  margin-top: auto;
}

.menu-button {
  background-color: white;
  color: black;
  padding: 10px 50px;
  border-radius: 20px;
  width: 80%;
  outline: none;
  border: none;
  cursor: pointer;
  align-items: center;;
  display: flex;
  justify-content: left;
  font: {
    size: 20px;
  }
  margin-bottom: 15px;
}

.menu-button:hover, .logout:hover {
  background-color:#00704A;
  color: white;
}

.icon {
  font-size: 35px;
  margin-right: 45px;
}

@media (max-width: 1190px) {
  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .top-section {
    margin: 0;
  }

  .menu-options {
    flex-direction: row;
    align-items: center;
  }

  .line {
    display: none;
  }
}

@media (max-width: 850px) {
  .menu-container {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .menu-options {
    flex-direction: row;
    align-items: center;
  }
}


@media (max-width: 830px) {
  .menu-options {
    display: none;
  }

  .menu-container {
    justify-content:space-between
  }
}





