.menu-container {
    grid : {
      column: 1 / 2;
      row: 1 / 5;
    }

    background-color: rgb(255, 255, 255);
    height: 100vh;
  }
  
.logo {
  height: 200px;
  width: 300px;
  pointer-events: none;
}

.line {
  border: 0.01px solid rgb(198, 198, 198, 0.4);
  width: 80%;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 75vh;

}


.menu-button, .logout {
  background-color: white;
  color: black;
  padding: 10px 50px;
  border-radius: 20px;
  width: 80%;
  outline: none;
  border: none;
  cursor: pointer;
  align-items: center;;
  display: flex;
  justify-content: left;
  font {
    size: 20px;
  }
  margin-bottom: 15px;
}

.menu-button:hover, .logout:hover {
  background-color:#00704A;
  color: white;
}

.icon {
  font-size: 25px;
  margin-right: 45px;
}

.logout {
  margin: {
    top: auto;
    bottom: 50px;
  }
}


