.order-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.row-check {
    cursor: pointer;
    color: white;
}

.order-row input[type='checkbox'] {
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #d9e2f1;
  }
