.order-header {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    color: rgb(86, 86, 86);
    gap: 40px
}

.order-headings {
    color: rgb(121, 121, 121);
    font-size: 16px;
}

.check {
    pointer-events: none;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    grid-column-start: 0;
    grid-column-end: 1;
}


.id {
    grid-column-start: 1;
    grid-column-end: 2;
}

.litres {
    grid-column-start: 2;
    grid-column-end: 3;
}

.date {
    grid-column-start: 3;
    grid-column-end: 4;
}

.status {
    grid-column-start: 4;
    grid-column-end: 5;
}

@media (max-width: 1190px) {
    .order-header {
        gap: 20px;
    }
  }
  
@media (max-width: 870px) {
.order-header {
    gap: 5px;
}

}

@media (max-width: 750px) {
    .order-header {
        grid-template-columns: 0.7fr .7fr 1.5fr 1fr;
    }
    
}