.action {
    background-color:#00704A;
    border: none;
    border-radius: 20px;
    // width: 50%;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.2s all ease;
    cursor: pointer;
}

.action:hover {
    background-color: #00422c;
    transform: scale(0.98);
}
