.menu-button, .logout-menu-button {
    background-color: white;
    color: black;
    padding: 10px 50px;
    border-radius: 20px;
    width: 90%;
    outline: none;
    border: none;
    cursor: pointer;
    align-items: center;;
    display: flex;
    justify-content: flex-start;
    font: {
      size: 0.95rem;
    }
    margin-bottom: 10px;
  }
  
  .menu-button:hover, .logout-menu-button:hover {
    background-color:#00704A;
    color: white;
  }

.logout-menu-button {
    margin-top: auto;
  }

.icon-word {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

@media (max-width: 1500px) {
  
  .menu-button, .logout-menu-button {
    width: 90%;
  }
}

@media (max-width: 1190px) {
  .logout-menu-button {
    margin-top: 0;
  }
  .menu-button, .logout-menu-button {
    height: 2rem;
    padding: 1rem;
    margin: 0.25rem;
    width: auto;
    font: {
      size: 0.95rem;
    }
  }
}




