body {
  margin: 0;
  padding: 0;
  user-select: none;
  height: 100vh;
}

.container-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  width: 100%;

  margin: 0 auto;
}

.info-element {
  width: 32.5%;
  margin: 5px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-wrapper {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
}

.orders-wrapper {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 100%;
  margin: auto;
}

.menu-wrapper {
  grid : {
    column: 1 / 2;
    row: 1 / 5;
  }
}

.welcome-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;

}

@media (max-width: 1190px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .container-wrapper {
    width: 100%;
  }

  .info-element {
    width: 32.5%;
    padding: 0;
  }

  .info-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  .welcome-wrapper {
      width: 95%;
      margin: 0 auto;
    }

  .orders-wrapper {
      width: 95%;
      margin: 0 auto;
  }
}

@media (max-width: 870px) {
  .info-element {
    width: 100%;
    margin: 10px auto;
    height: 32.5%;
  }

  .info-container {
    flex-direction: column;
    margin: auto 0;
    width: 100%;
  }


  .welcome-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .info-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .correct-info {
    width: 95%;
    margin: 0 auto;
  }
  
  .orders-wrapper {
    width: 95%;
      margin: 0 auto;
  }
 
}

@media (max-width: 490px) {
  .welcome-wrapper {
    height:  8rem;
  }
}




